.App {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

.logo {
  height: 18vh;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #dddddd);
}
